#editPane *{
    -fx-stroke-type: outside;
    -fx-stroke-width: 5;
    -fx-stroke-line-join: round;
    -fx-stroke: darkgrey;
    -fx-border-width: 5;
    -fx-border-color: aquamarine;
    -fx-border-radius: 3;
    -fx-background-color: aliceblue;
}
