DragDropGrid {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
}

ModelSlot {
    -fx-background-color: whitesmoke;
}

#botGroupBox ModelSlot {
    -fx-border-width: 1;
    -fx-border-color: darkgrey;
}

WrongMessageLabel {
    -fx-background-color: orangered;
}

WarningGrid {
    -fx-background-color: orangered;
}

.tab-pane {
    -fx-border-width: 3;
    -fx-border-color: dimgray;
}

#selectedRobotModel {
    -fx-border-width: 4;
    -fx-border-color: deepskyblue;
}